:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* formats home page */
.home {
  background-color: blue;
  color: whitesmoke;
  font-size: 1.4rem;
  margin-left: 8px;
  margin-bottom: 50px;
}

.home:hover {
  border: solid red 3px;
}

.home-small {
  background-color: blue;
  color: whitesmoke;
  font-size: 0.8rem;
  margin-left: 8px;
  margin-bottom: 50px;
}

.home-small:hover {
  border: solid red 3px;
}



/* ends formatting of home page */




/* formats nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  margin: 0;
  background-color: burlywood;
  height: 8vh;
}

nav > img {
  height: 6vh;
  margin-right: 8px;
}

nav .links {
  margin-right: 80vw;
  display: flex;
} 

nav .links > a {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: bolder;
  margin-right: 1vw;
  text-decoration: inherit;
  
}

nav .links >a:hover {
  color: blue;
  font-weight: bolder;
  text-shadow: 5px 5px 10px white ;
}



.logo {
  margin: 2vw 1vh;
}

.logo > img {
  height: 6vh;

}


@media screen and (max-width: 600px) {

  nav {
    overflow: auto;
    margin: 0;
    padding: 3px;
  }

  nav.links > a {
    font-size: 1rem;
  }
  
}



/*end of nav bar formatting */


/* Formats articles list */

.article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
}

.article-list > li {
  width: 500px;
  border: black solid 4px;
  padding: 18px;
}

.article-list > li:hover {
  border-color: red;
}


.article-list > li > a {
  color: black;
}

.article-list > li > a > img {
  width: 300px;
}

.article-list > li > a:hover {
  cursor: pointer;

}

/* end of articles list formatting */



/* Formatting for individual article page */
.article-full {
 
  display: grid;
  grid-template-columns: 70vw 1fr;
  padding: 30px;
  column-gap: 20px;
  grid-template-rows: 8vh 5vh 5vh 8vh;

}


.article-full > * {
  grid-column: 1;
}



.article-full > img {
  width: 90%;
  grid-column: 2;
  grid-row: 1;
}


.vote-message {
  color: blue;
}


textarea {
  width: 60vw;
}


.del-button {
  background-color: red;
  color: white;
  border-radius: 15px;
}

.del-button:hover {
  background-color: blue;
}



@media screen and (max-width: 600px) {
 

.article-full {
  display: flex;
  flex-direction: column;
}

.article-full > img {

  width: 300px;
}
}

.vote-arrows:hover {
  cursor: pointer;
  box-shadow: 0 0 15px blue;

}


/* ends formatting for individual article page */



/* formatting for topics list */
.topics-list-item {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  color: black;
  max-width: 500px;
  height: 150px;
  padding: 15px;
  margin-bottom: 30px;
}

.topics-list-item:hover {
  border-color: red;
  cursor: pointer;
  background-color: aliceblue;
}






/*ends formatting for topics list  */



/* formatting for search filters and sorts forms*/
.search-prefs {
  border: solid rgb(43, 14, 121) 4px;
  padding: 18px;
  
}

.search-prefs > label {
  margin-right: 15px;
  font-size: 1.3rem;
}

.search-prefs > label > select {
  margin-left: 3px;
  font-size: 1.2rem;
}


/* ends search form formatting */



/* formatting for login form */
.login-form {
  font-size: 1.3rem;
  margin: 50px;
}

.login-form > label > select {
  font-size: 1.3rem;
}

.login-form > label > select:hover {
  cursor: pointer;
  border: solid blue 2px;
}

.login-form > input {
  font-size: 1.3rem;
  margin-left: 15px;
  border-radius: 80px;
  color: whitesmoke;
  background-color: blue;
}

.login-form > input:hover {
  cursor: pointer;
  background-color: green;
}



/* ends formatting for login form */


/* formatting for warnings, statuses, and errors */
.warning-text {
  color: red;
  font-weight: bolder;
  font-size: 1.5rem;
}

.loading-text {
  color: orangered;
  font-weight: bolder;
  font-size: 1.5rem;
}

.success-text {
  color: green;
  font-weight: bolder;
  font-size: 1.5rem;
}

/* ends formatting for warnings and errors */