:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* formats nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  margin: 0;
  background-color: burlywood;
  height: 8vh;
 
}

nav .links {
  margin-right: 80vw;
  display: flex;
} 

nav .links > a {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: bolder;
  margin-right: 1vw;
  text-decoration: inherit;
  
}

nav .links >a:hover {
  color: blue;
  font-weight: bolder;
  text-shadow: 5px 5px 10px black ;
}



.logo {
  margin: 2vw 1vh;
}

.logo > img {
  height: 6vh;

}


@media screen and (max-width: 600px) {

  nav {
    
   
    margin: 0;
    padding: 3px;
  }

  nav.links > a {
    font-size: 1rem;
  }
  
}



/*end of nav bar formatting */


/* Formats articles list */

.article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
}

.article-list > li {
  width: 500px;
  border: black solid 4px;
  padding: 18px;
}

.article-list > li:hover {
  border-color: red;
}


.article-list > li > a {
  color: black;
}

.article-list > li > a > img {
  width: 300px;
}

.article-list > li > a:hover {
  cursor: pointer;

}

/* end of articles list formatting */



/* Formatting for individual article page */
.article-full {
 
  display: grid;
  grid-template-columns: 70vw 1fr;
  padding: 30px;
  column-gap: 20px;
  grid-template-rows: 8vh 5vh 5vh 8vh;

}


.article-full > * {
  grid-column: 1;
}



.article-full > img {
  width: 90%;
  grid-column: 2;
  grid-row: 1;
}


.vote-message {
  color: blue;
}


@media screen and (max-width: 600px) {
 

.article-full {
  display: flex;
  flex-direction: column;
}

.article-full > img {

  width: 300px;
}
}

.vote-arrows:hover {
  cursor: pointer;
  box-shadow: 0 0 15px blue;

}


/* ends formatting for individual article page */



/* formatting for warnings and errors */
.warning-text {
  color: red;
  font-weight: bolder;
  font-size: 1.5rem;
}

/* ends formatting for warnings and errors */